<div class="d-flex flex-direction-column">
    <div class="left-tab">
        <div class="button-area d-flex">
            <button class="btn btn-primary" (click)="openCreateModal()" appFontWeightBold [hightlightColor]="'brown'">+
                ASK A QUESTION</button>
        </div>
        <hr />
        <div class="sections-area">
            <div class="d-flex align-items-center" routerLink="/questions" routerLinkActive="section-selected"
            [routerLinkActiveOptions]="{exact: true}">
                <img src="../../../../assets/icons/question-circle-fill.svg" />
                Questions
            </div>
            <div class="d-flex align-items-center" routerLink="tags" routerLinkActive="section-selected">
                <img src="../../../../assets/icons/tags-fill.svg" />
                Tags
            </div>
            <div class="d-flex align-items-center" routerLink="/favourites" routerLinkActive="section-selected">
                <img src="../../../../assets/icons/list-stars.svg" />
                Favourites
            </div>
            <div class="d-flex align-items-center" routerLink="/users" routerLinkActive="section-selected">
                <img src="../../../../assets/icons/people-fill.svg" />
                Users
            </div>
        </div>
    </div>
    <div class="d-flex flex-column col-md-7 questions-area">
        <router-outlet></router-outlet>
    </div>
</div>