.left-tab {
    width: 20%;

    hr {
        margin-bottom: 0;
    }

    .button-area {
        height: 120px;
        justify-content: center;
        align-items: center;

        button {
            height: 50px;
        }
    }

    .sections-area {
        div {
            width: 100%;
            height: 60px;
            padding-left: 30px;
            font-size: 20px;
            color: #6c757d;

            img {
                margin-right: 20px;
                width: 20px;
                filter: invert(44%) sepia(14%) saturate(263%) hue-rotate(167deg) brightness(99%) contrast(94%);
            }

            &:hover {
                cursor: pointer;
                background-color: #e9ecef;
            }

            &.section-selected {
                background-color: #e9ecef;
            }
        }
    }
}

.questions-area {
    padding-left: 30px;
    border-left: 1px solid grey;
}