<div class="card" *ngIf="question">
    <div class="card-header d-flex justify-content-between">
        <a routerLink="/questions/{{question.id}}" routerLinkActive="active"><p class="bold title">{{question.title}}</p></a>
        <div class="d-flex justify-content-between favourite">
            <p>{{question.createdDate | date: 'fullDate'}}</p>
            <span (click)="favouriteClicked()">
                <i *ngIf="!isFavourite" class="bi bi-star"></i>
                <i *ngIf="isFavourite" class="bi bi-star-fill"></i>
            </span>
        </div>
    </div>
    <div class="card-body">
        <p>{{question.description}}</p>
        <tag-input *ngIf='question.tags' [(ngModel)]='question.tags' [disable]="true" placeholder=""></tag-input>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
        <p>
            <img src="../../../../assets/icons/pencil-square.svg" />
            {{question.authorName}}
        </p>
        <button class="btn btn-primary reply-btn">Reply</button>
    </div>
</div>