<div class="card" *ngIf="question">
    <div class="card-header d-flex justify-content-between">
        <a href=""><p class="bold title">{{question.title}}</p></a>
        <p>{{question.createdDate | date: 'fullDate'}}</p>
    </div>
    <div class="card-body">
        <p>{{question.description}}</p>
        <tag-input *ngIf='question.tags' [(ngModel)]='question.tags' [disable]="true" placeholder=""></tag-input>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
        <p>
            <img src="../../../../assets/icons/pencil-square.svg" />
            {{question.authorName}}
        </p>
        <button class="btn btn-primary reply-btn">Reply</button>
    </div>
</div>