.filter {
    margin-top: 50px;

    input {
        width: 250px;
    }
}

h1 {
    padding-top: 20px;
}

.tags-area {
    padding-top: 50px;

    button {
        margin-right: 20px;

        p {
            font-size: 10px;
            margin-bottom: 0px;
            color: grey;
        }
    }
}